.botaoo{
     position: absolute;
     top: 10px;
}

.botao {
    width: 90px;
    height: 30px;
    border-color: #000000;
    background-color: rgb(234, 167, 90);
}

#img1{
    position: absolute;
    width: 1500px;
    height: 750px;
}

#img2{
    position: absolute;
    z-index: 1000;
    width: 537px;
    height: 335px;
    margin-left: 411px;

}

#img3{
    position: absolute;
    left: 0;
    top: 100px;
    width: 90px;
    height: 90px;
}